/* Butun sayt uchun stil */
body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5px;
  color: black;
  background-color: #fff;
}
/*header*/
.site-logo-img {
  height: 175px;
  object-fit: cover;
}
.sitenav-list {
  list-style: none;
}
.sitenav-link {
  font-family: "Bebas Neue", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}
/*hiro*/
.btn {
  text-decoration: none;
}

.hero {
  background-color: aqua;
}
.hero-heading {
  font-size: 60px;
}
.hero-button {
  color: #fff;
}

/*news*/
.news-heading,
.viloyatlar-heading {
  font-size: 34px;
  font-family: "Bebas Neue", sans-serif;
}
.news-list {
  list-style: none;
}
.niws-item-img {
  height: 300;
  object-fit: cover;
}
/*aside*/
.aside {
  background-color: skyblue;
}
/*viloyatlar*/
.viloyatlar-list {
  list-style: none;
}
.viloyatlar-link {
  text-decoration: none;
  color: #222;
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
}
/*following*/

.following-list {
  list-style: none;
}
.following {
  background-color: skyblue;
}
.following-heading {
  font-size: 40px;
  font-family: "Bebas Neue", sans-serif;
}
.sitenav {
  background-color: #222;
}
